version: '3.9'

services:
  laravel:
    container_name: laravel
    image: laravel
    build:
      args:
        user: user
        uid: 1000
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    working_dir: /home/user
    volumes:
      - ./app:/home/user
    network_mode: host
    # ports:
    #   - 8000:8000